/* Font family */ 
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Text Font */ 
h1 {
   -webkit-text-stroke: 1px black; 
  font-family: 'Akaya Telivigala', cursive;
}

p,a,h2 {
  font-family: 'Nunito', sans-serif;
}

h3 {
  font-family: 'Akaya Telivigala', cursive;
}

/* Container */
.container {
  width: 100%;
}
/* Couleur du header + nav */ 
.navigateur {
  background-color: #45464c;
}

/* Hero */
.hero {
  height: 800px;
}

/* Présentation */ 
.presentation {
  background-color: #45464c;
}

/* Offre */

/* Forfait */
.forfait {
  background-color: #45464c;
}

/* Contact */
.contact {
  background-color: #45464c;
}

/* Footer */
.footer {
  background-color: #45464c;
}